@charset "utf-8";

#left {
    width:20%;
    float:left;
    border-right:1px solid palegoldenrod;
    margin-right:9%;
}

#main {
    float:left;
    width:70%;
}

.meal {
	display:block;
	clear:left;
	padding:5px;
	border:1px solid #333;
	background-color:#efefef;
	margin:0 0 2px 0;
	width:150px;
	cursor:move;
}

.disabled-meal {
	border:1px dotted #333;
	text-align:center;
}

.use-list {
	font-size:10px;
}

.shopping-list {
	width:45%;
	float:left;
}

#bin {
	margin-top:50px;
	border:1px dotted #666;
	border-top:none;
	background-color:#efefef;
	float:right;
	width:200px;
	height:50px;
	text-align:center;
}