@charset "utf-8";


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: 'Ruda', sans-serif;
	font-size:13px;
}

h1 {
	font-size:24px;
	margin:12px 0;
}
h2 {
	font-size:20px;
	margin:10px 0;
}
h3 {
	font-size:16px;
	margin:8px 0;
}
h4 {
	font-size:14px;
	margin:7px 0;
}
h5, h6 {
	font-size:12px;
	margin:6px 0;
}

#container {
	margin:0 5vw;
}
#left {
    width:20vw;
    float:left;
    border-right:1px solid #D6EFDE;
    margin-right:3%;
}
#left a {
	display:block;
	margin:5px 0;
	padding:5px;
	border:1px solid green;
	background-color:#D6EFDE;
	width:80%;
}

#main {
    float:left;
    width:55vw;
}

.meal {
	display:block;
	clear:left;
	padding:5px;
	border:1px solid #999;
	background-color:#efefef;
	margin:0 0 2px 0;
	width:80%;
	cursor:move;
	margin:5px 0;
}

.disabled-meal {
	border:1px dotted #333;
	text-align:center;
}

.use-list {
	font-size:10px;
}

form {
	display:block;
	position:relative;
	overflow:hidden;
}

.arrow {
	display:block;
	float:left;
	width:4%;
	margin:150px 0 0;
	padding:20px 0;
	text-align: center;
	font-weight:bold;
	background-color:#efefef;
}
.arrow:hover {
	background-color:#D6EFDE;
}

table {
	float:left;
	width:90%;
	margin:0 1%;
	border-collapse: collapse;
}
th,td.spacer {
	background-color:#efefef;
}
th, td {
	border:1px solid #efefef;
	width:10%;
	padding:1%;
}
th input[type=checkbox] {
	display:block;
	clear:left;
	margin:5px auto 0;
}
th.today,  td.today {
	background-color:#E1F0FF;
}
td.active {
	background-color:#D6EFDE;
}

input[type=submit] {
	font-size:9px;
	text-wrap:normal;
	overflow: hidden;
}


#bin {
	margin-top:20px;
	margin-right:4%;
	background-color:#F0D3D3;
	color:#333;
	float:right;
	width:200px;
	height:50px;
	text-align:center;
}
#bin.active {
	background-color:#b22222;
	color:#fff;
}
.shopping-list {
	width:45%;
	float:left;
}